.body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 550;
}
.menu{
    float:right;
}
.burger{
    font-size: 2.5rem;
}
.tituloneuromarketing{
    color: #181245;
    font-weight: 300;
    
}
.carousel{
    height: 30px;
}
.top{
    float: left;
}
.buttom{
    float: right;
}
.logowhite{
    position: relative;
    z-index: 99999;
    bottom: 8rem;
    left: 8.9rem;
    
}
.marcas{
    margin-left: 2.4rem;
}
.boutique{
    font-family: Work Sans;
    font-weight: 900;
    font-size: 2rem;
    line-height: 32px;
    /* or 114% */
    
   
    
    color: #000000;
    
}
.compu{
    margin-left: 2.2rem;
}
.redondo{
    margin-left: 8rem ;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 3rem;
    padding-top: 0.6rem;
    color: white;
    background: #3D2DB7;
    /* btn / blue / normal */
    
    box-shadow: 0px 10px 30px rgba(56, 29, 219, 0.2);
    border-radius: 3rem;
    
}
.valor{
    margin-left: 3rem;
}
.comolohacemos{
    position: relative;
    z-index: 99999;
    bottom: 25rem;
    left: 4rem;
}
.carousel{
    position: relative;
    z-index: 99999;
    bottom: 25rem;
    
}
.direccion{
    margin-top: 9rem;
}
.dj{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.maxi{
    color: #3D2DB7 ;
}
.tomy{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.compu{
    position: relative;
    bottom: 130px;
}
.ventajas{
    margin-top: 20rem;
}
.requisitos{
    color: #3D2DB7 ;
    margin-top: 13rem;
    font-family: Work Sans;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
}
.sadaic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
   
}
.solicita{
    margin-top: 4rem;
    width: 100%;
}